* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.Display{
  width: 1030px;
  display: inline-flex;
  flex-direction: row;
}
.contactDisplay{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 380px;
    margin-left: 25px;
    color: #636363;
}